### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)


# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#Calculate the total number of schools
Total_Schools = len(school_data_complete["school_name"].unique())
Total_Schools

15

In [3]:
#Calculate the total number of students
Total_Students = len(school_data_complete["student_name"].unique())
Total_Students

32715

## School Summary

In [4]:
#Calculate the total budget
Total_School_budget = sum(school_data_complete["budget"].unique())
Total_School_budget

24649428

In [5]:
#Calculate the average math score
Avg_Math_Score = sum(school_data_complete["math_score"]) / len(school_data_complete["math_score"])
Avg_Math_Score = round(Avg_Math_Score, 2)
Avg_Math_Score

78.99

In [6]:
#Calculate the average reading score
Avg_read_Score = sum(school_data_complete["reading_score"]) / len(school_data_complete["reading_score"])
Avg_read_Score = round(Avg_read_Score, 2)
Avg_read_Score

81.88

In [7]:
#Calculate the percentage of students with a passing math score (70 or greater)
Passmath_grade = [num for num in school_data_complete["math_score"] if num >= 70]
Passmath_percent = (len(Passmath_grade) /len(school_data_complete["math_score"])) * 100
Passmath_percent = round(Passmath_percent, 2)
Passmath_percent

74.98

In [8]:
#Calculate the percentage of students with a passing reading score (70 or greater)
PassRead_grade = [num for num in school_data_complete["reading_score"] if num >= 70]
PassRead_percent = (len(PassRead_grade) /len(school_data_complete["reading_score"])) * 100
PassRead_percent = round(PassRead_percent, 2)
PassRead_percent

85.81

In [9]:
#Calculate the percentage of students who passed math and reading (% Overall Passing)
PasspercOverall = round(((Passmath_percent + PassRead_percent)/2), 2)
PasspercOverall

80.4

In [10]:
#Create a dataframe to hold the above results
Summary_school_district = pd.DataFrame({
    "Total Schools": [Total_Schools],
     "Total Students": [Total_Students],
    "Total Budget": [Total_School_budget],
    "Average Math Score": [Avg_Math_Score],
    "Average Reading Score": [Avg_read_Score],
    "% of Math pass": [Passmath_percent],
    "% of Reading pass": [PassRead_percent],
     "Overall Pass %": [PasspercOverall],    
})
Summary_school_district

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% of Math pass,% of Reading pass,Overall Pass %
0,15,32715,24649428,78.99,81.88,74.98,85.81,80.4

#School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [12]:
#Get the school type from the file with School name as index
School_type = school_data_df.set_index(['school_name'])['type']
School_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [13]:
#calculate total students
Total_students = school_data_complete['school_name'].value_counts()
Total_students

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [15]:
#Total School Budget
school_budget = school_data_df.groupby(['school_name'])['budget'].sum()
school_budget

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [16]:
# Per Student Budget
Per_student_budget = school_budget / Total_students
Per_student_budget

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [17]:
#Average Math Score per school
School_Mathscore = school_data_complete.groupby(['school_name'])['math_score'].mean()
School_Mathscore = round(School_Mathscore, 2)
School_Mathscore

school_name
Bailey High School       77.05
Cabrera High School      83.06
Figueroa High School     76.71
Ford High School         77.10
Griffin High School      83.35
Hernandez High School    77.29
Holden High School       83.80
Huang High School        76.63
Johnson High School      77.07
Pena High School         83.84
Rodriguez High School    76.84
Shelton High School      83.36
Thomas High School       83.42
Wilson High School       83.27
Wright High School       83.68
Name: math_score, dtype: float64

In [18]:
#Average Reading Score per school
School_Readscore = school_data_complete.groupby(['school_name'])['reading_score'].mean()
School_Readscore = round(School_Readscore, 2)
School_Readscore

school_name
Bailey High School       81.03
Cabrera High School      83.98
Figueroa High School     81.16
Ford High School         80.75
Griffin High School      83.82
Hernandez High School    80.93
Holden High School       83.81
Huang High School        81.18
Johnson High School      80.97
Pena High School         84.04
Rodriguez High School    80.74
Shelton High School      83.73
Thomas High School       83.85
Wilson High School       83.99
Wright High School       83.96
Name: reading_score, dtype: float64

In [19]:
#% Passing Math
mathpass_perschool = school_data_complete[(school_data_complete['math_score'] >= 70)]
mathpass_perschool
# group the scores by school and calculate percentage
school_mathpass_pct = mathpass_perschool.groupby(["school_name"])["student_name"].count() / Total_students * 100
school_mathpass_pct = round(school_mathpass_pct, 2)
school_mathpass_pct

Bailey High School       66.68
Cabrera High School      94.13
Figueroa High School     65.99
Ford High School         68.31
Griffin High School      93.39
Hernandez High School    66.75
Holden High School       92.51
Huang High School        65.68
Johnson High School      66.06
Pena High School         94.59
Rodriguez High School    66.37
Shelton High School      93.87
Thomas High School       93.27
Wilson High School       93.87
Wright High School       93.33
dtype: float64

In [20]:
#% Passing Reading
Readingpass_perschool = school_data_complete[(school_data_complete['reading_score'] >= 70)]
Readingpass_perschool
# group the scores by school and calculate percentage
school_readpass_pct = Readingpass_perschool.groupby(["school_name"])["student_name"].count() / Total_students * 100
school_readpass_pct = round(school_readpass_pct, 2)
school_readpass_pct

Bailey High School       81.93
Cabrera High School      97.04
Figueroa High School     80.74
Ford High School         79.30
Griffin High School      97.14
Hernandez High School    80.86
Holden High School       96.25
Huang High School        81.32
Johnson High School      81.22
Pena High School         95.95
Rodriguez High School    80.22
Shelton High School      95.85
Thomas High School       97.31
Wilson High School       96.54
Wright High School       96.61
dtype: float64

In [21]:
#% Overall Passing (The percentage of students that passed math and reading.)
Overall_Schoolpassperc = (school_mathpass_pct + school_readpass_pct) / 2
Overall_Schoolpassperc = round(Overall_Schoolpassperc, 2)
Overall_Schoolpassperc

Bailey High School       74.31
Cabrera High School      95.58
Figueroa High School     73.36
Ford High School         73.81
Griffin High School      95.26
Hernandez High School    73.81
Holden High School       94.38
Huang High School        73.50
Johnson High School      73.64
Pena High School         95.27
Rodriguez High School    73.30
Shelton High School      94.86
Thomas High School       95.29
Wilson High School       95.21
Wright High School       94.97
dtype: float64

In [22]:
#Create a dataframe to hold school summary
School_Summary = pd.DataFrame({
    "School Type": School_type,
    "Students": Total_students,
    "School Budget": school_budget,
    "Budget per Student": Per_student_budget,
    "Average Math Score": School_Mathscore,
    "Average Reading Score": School_Readscore,
    "% Passing Math": school_mathpass_pct,
    "% Passing Reading": school_readpass_pct,
    "Overall Pass Rate": Overall_Schoolpassperc    
})
School_Summary

,School Type,Students,School Budget,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Pass Rate
Bailey High School,District,4976,3124928,628.0,77.05,81.03,66.68,81.93,74.31
Cabrera High School,Charter,1858,1081356,582.0,83.06,83.98,94.13,97.04,95.58
Figueroa High School,District,2949,1884411,639.0,76.71,81.16,65.99,80.74,73.36
Ford High School,District,2739,1763916,644.0,77.10,80.75,68.31,79.30,73.81
Griffin High School,Charter,1468,917500,625.0,83.35,83.82,93.39,97.14,95.26
Hernandez High School,District,4635,3022020,652.0,77.29,80.93,66.75,80.86,73.81
Holden High School,Charter,427,248087,581.0,83.80,83.81,92.51,96.25,94.38
Huang High School,District,2917,1910635,655.0,76.63,81.18,65.68,81.32,73.50
Johnson High School,District,4761,3094650,650.0,77.07,80.97,66.06,81.22,73.64
Pena High School,Charter,962,585858,609.0,83.84,84.04,94.59,95.95,95.27
Rodriguez High School,District,3999,2547363,637.0,76.84,80.74,66.37,80.22,73.30
Shelton High School,Charter,1761,1056600,600.0,83.36,83.73,93.87,95.85,94.86
Thomas High School,Charter,1635,1043130,638.0,83.42,83.85,93.27,97.31,95.29
Wilson High School,Charter,2283,1319574,578.0,83.27,83.99,93.87,96.54,95.21
Wright High School,Charter,1800,1049400,583.0,83.68,83.96,93.33,96.61,94.97

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [24]:
#Highest-Performing Schools (by % Overall Passing)
Top_Schools = School_Summary.sort_values("Overall Pass Rate", ascending=False)
Top_Schools.head()

,School Type,Students,School Budget,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Pass Rate
Cabrera High School,Charter,1858,1081356,582.0,83.06,83.98,94.13,97.04,95.58
Thomas High School,Charter,1635,1043130,638.0,83.42,83.85,93.27,97.31,95.29
Pena High School,Charter,962,585858,609.0,83.84,84.04,94.59,95.95,95.27
Griffin High School,Charter,1468,917500,625.0,83.35,83.82,93.39,97.14,95.26
Wilson High School,Charter,2283,1319574,578.0,83.27,83.99,93.87,96.54,95.21

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [25]:
#Lowest-Performing Schools (by % Overall Passing)
Bottom_Schools = School_Summary.sort_values("Overall Pass Rate", ascending=True)
Bottom_Schools.head()

,School Type,Students,School Budget,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Pass Rate
Rodriguez High School,District,3999,2547363,637.0,76.84,80.74,66.37,80.22,73.30
Figueroa High School,District,2949,1884411,639.0,76.71,81.16,65.99,80.74,73.36
Huang High School,District,2917,1910635,655.0,76.63,81.18,65.68,81.32,73.50
Johnson High School,District,4761,3094650,650.0,77.07,80.97,66.06,81.22,73.64
Ford High School,District,2739,1763916,644.0,77.10,80.75,68.31,79.30,73.81

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [26]:
#the average math Score for students of each grade level (9th, 10th, 11th, 12th) at each school
#creates grade level average math scores for each school 
Ninth_mathscore = student_data_df.loc[student_data_df['grade'] == '9th'].groupby('school_name')["math_score"].mean()
Tenth_mathscore = student_data_df.loc[student_data_df['grade'] == '10th'].groupby('school_name')["math_score"].mean()
Eleventh_mathscore = student_data_df.loc[student_data_df['grade'] == '11th'].groupby('school_name')["math_score"].mean()
Twelvth_mathscore = student_data_df.loc[student_data_df['grade'] == '12th'].groupby('school_name')["math_score"].mean()

math_scores = pd.DataFrame({
        "9th": Ninth_mathscore,
        "10th": Tenth_mathscore,
        "11th": Eleventh_mathscore,
        "12th": Twelvth_mathscore
})
math_scores = math_scores[['9th', '10th', '11th', '12th']]
math_scores.index.name = "school_name"

#show and format
math_scores.style.format({'9th': '{:.1f}', 
                          "10th": '{:.1f}', 
                          "11th": "{:.1f}", 
                          "12th": "{:.1f}"})

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [27]:
#creates grade level average reading scores for each school
ninth_readingscore = student_data_df.loc[student_data_df['grade'] == '9th'].groupby('school_name')["reading_score"].mean()
tenth_readingscore = student_data_df.loc[student_data_df['grade'] == '10th'].groupby('school_name')["reading_score"].mean()
eleventh_readingscore = student_data_df.loc[student_data_df['grade'] == '11th'].groupby('school_name')["reading_score"].mean()
twelfth_readingscore = student_data_df.loc[student_data_df['grade'] == '12th'].groupby('school_name')["reading_score"].mean()

#merges the reading score averages by school and grade together
reading_scores = pd.DataFrame({
        "9th": ninth_readingscore,
        "10th": tenth_readingscore,
        "11th": eleventh_readingscore,
        "12th": twelfth_readingscore
})
reading_scores = reading_scores[['9th', '10th', '11th', '12th']]
reading_scores.index.name = "School"

#format
reading_scores.style.format({'9th': '{:.1f}', 
                             "10th": '{:.1f}', 
                             "11th": "{:.1f}", 
                             "12th": "{:.1f}"})

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [28]:
#School performance by size
bins = [0, 584.999, 614.999, 644.999, 999999]
group_name = ['< $585', "$585 - 614", "$615 - 644", "> $644"]
school_data_complete['spending_bins'] = pd.cut(school_data_complete['budget']/school_data_complete['size'], bins, labels = group_name)

#group by spending
by_spending = school_data_complete.groupby('spending_bins')

#calculations
avg_math = by_spending['math_score'].mean()
avg_read = by_spending['reading_score'].mean()
pass_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()
pass_read = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()
overall = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()

            
# df build            
scores_by_spend = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall
            
})
            
#reorder columns
scores_by_spend = scores_by_spend[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    "Overall Passing Rate"
]]

scores_by_spend.index.name = "Per Student Budget"
scores_by_spend = scores_by_spend.reindex(group_name)

#formating
scores_by_spend.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              'Overall Passing Rate': '{:.1%}'})

## Scores by School Size

* Perform the same operations as above, based on school size.

In [48]:
#Create a table that breaks down school performance based on school size (small, medium, or large)
Student_numberbin = [0, 999, 1999, 999999999999]
School_size = ["Small (<1000)" , "Medium (1000-1999)" , "Large (>=2000)"]
School_Summary['School_size'] = pd.cut(School_Summary['Students'], Student_numberbin, labels = School_size)
School_Summary.head()

,School Type,Students,School Budget,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Pass Rate,School_size
Bailey High School,District,4976,3124928,628.0,77.05,81.03,66.68,81.93,74.31,Large (>=2000)
Cabrera High School,Charter,1858,1081356,582.0,83.06,83.98,94.13,97.04,95.58,Medium (1000-1999)
Figueroa High School,District,2949,1884411,639.0,76.71,81.16,65.99,80.74,73.36,Large (>=2000)
Ford High School,District,2739,1763916,644.0,77.10,80.75,68.31,79.30,73.81,Large (>=2000)
Griffin High School,Charter,1468,917500,625.0,83.35,83.82,93.39,97.14,95.26,Medium (1000-1999)

In [51]:
#Create a table that breaks down school performance based on school size (small, medium, or large)
Student_numberbin = [0, 999, 1999, 999999999999]
School_size = ["Small (<1000)" , "Medium (1000-1999)" , "Large (>=2000)"]
School_Summary['School_size'] = pd.cut(School_Summary['Students'], Student_numberbin, labels = School_size)
School_Summary.head()

# grouping by School size

avg_math = School_Summary.groupby(['School_size'])['Average Math Score'].mean()
avg_read = School_Summary.groupby(['School_size'])['Average Reading Score'].mean()
pass_math = School_Summary.groupby(['School_size'])['% Passing Math'].mean() / 100
pass_read = School_Summary.groupby(['School_size'])['% Passing Reading'].mean() / 100
overall = School_Summary.groupby(['School_size'])['Overall Pass Rate'].mean() / 100

# df build            
scores_by_size = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall            
})
            
#reorder columns
scores_by_size = scores_by_size[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    "Overall Passing Rate"
]]

scores_by_size.index.name = "School size"
scores_by_size = scores_by_size.reindex(School_size)

#formating
scores_by_size.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              'Overall Passing Rate': '{:.1%}'})

## Scores by School Type

* Perform the same operations as above, based on school type

In [30]:
# Create a table that breaks down school performance based on type of school (district or charter)
by_type = school_data_complete.groupby("type")

#calculations 
avg_math = by_type['math_score'].mean()
avg_read = by_type['math_score'].mean()
pass_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('type')['Student ID'].count()/by_type['Student ID'].count()
pass_read = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('type')['Student ID'].count()/by_type['Student ID'].count()
overall = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('type')['Student ID'].count()/by_type['Student ID'].count()

# df build            
scores_by_type = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall})
    
#reorder columns
scores_by_type = scores_by_type[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    "Overall Passing Rate"
]]
scores_by_type.index.name = "Type of School"


#formating
scores_by_type.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              'Overall Passing Rate': '{:.1%}'})